.main {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset 0 0 20px 0px black;
  border-radius: 10px;
}
img {
  margin: 20px;
  height: 400px;
}
body {
  color: magenta;
  font-weight: 700;
  background-color: lime;
}
body .content {
  margin-top: 20px;
}
.stars span {
  color: rgba(0, 0, 0, 0.5);
  user-select: none;
  cursor: pointer;
  font-size: 30px;
}
.stars .filled {
  color: #1900ff;
}
